{% extends "base.html" %}

{% block head_title %}
Управляющая Компания
{% endblock %}

{% block body %}

<style>
  .button-link {
    display: inline-block;
    padding: 10px 70px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: #80daeb; /* Цвет текста на кнопке */
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
</style>

<p style="text-align: left;
          padding-left: 150px;
          font-size: 20px;">
    <a href="http://127.0.0.1:5000/customers" class="button-link">
        Заказчики
    </a>
</p>

<p style="text-align: left;
          padding-left: 150px;
          font-size: 20px;">
    <a href="http://127.0.0.1:5000/issues" class="button-link">
        Запросы на работу
    </a>
</p>

<p style="text-align: left;
          padding-left: 150px;
          font-size: 20px;">
    <a href="http://127.0.0.1:5000/executors" class="button-link">
        Исполнители
    </a>
</p>
{% endblock %}
